@{
    ViewData["Title"] = "Home Page";
}

<h1>Lista de seus Holerites</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Data do Holerite</th>
            <th scope="col">Valor Final</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>10/2023</td>
            <td>1800</td>
            <td>Válida</td>
            <td>
                <button type="button" class="btnd btn-danger">Contestar</button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>11/2023</td>
            <td>1750</td>
            <td>Válida</td>
            <td>
                <button type="button" class="btnd btn-danger">Contestar</button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>12/2023</td>
            <td>1800</td>
            <td>Válida</td>
            <td>
                <button type="button" class="btnd btn-danger">Contestar</button>
            </td>
        </tr>
    </tbody>
</table>
<br />
<h4>Caso haja algum erro no seu holerite o botão Contestar encaminha a folha diretamente para o RH fazer uma revisão.</h4>
